.info{
    text-align: center;
    padding: 20px;
    margin-left: 750px;
    height: 65vh;
    width: 400px;
    background-color: #f0f0f0;
}
h2{
    background-color: black;
    color: #f0f0f0;
}
.img1{
    height: 200px;
    width: 300px;
}